.btnAltura {
  height: 100px;
  width: 120px;
}

.btnSalir {
  width: 80px;
  height: 50px;
}
.btnAltura:hover {
  width: 200px;
  height: 100px;

  transition: 0.5s;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
