.btnAltura {
  height: 60px;
  width: 100px;
}

.btnSalir {
  width: 80px;
  height: 50px;
}
.btnAltura:hover {
  width: 200px;
  height: 60px;

  transition: 0.5s;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  background-image: url(/ingEconomica/gradiente/assets/3665587.jpg);
  background-size: cover;

}

/* div{
  background-color: #ffffff9e;
} */

.card{

  background-color: #ffffff9e;
  

}